<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css" type="">
    <title>Document</title>
</head>
<body>
<div>{{>header}}</div>   
   <div> 
    <img src="/img/desert.jpg">
    <img src="https://th.bing.com/th?id=OIP.ruLZwkeoF0FpFa8djj1QJAHaE8&w=150&h=104&c=7&o=6&pid=13.1">
    <p>{{message}}</p></div>
    {{>footer}}
</body>
</html>


